# dependencies
node_modules/
.next/

# env files
.env
.env.local
.env.production

# OS files
.DS_Store

# zip archives & temp files
*.zip
saiko-maps@0.1.0

# uploads & takeout
uploads/
Takeout/

# test files
test-*.js
test-*.csv
tsx
.vercel
.env.vercel*
